:root {
    --my-header-color: rgb(106, 106, 255);
    --light-background-color: rgb(36, 174, 192);
    --dark-background-color: rgb(19, 31, 33);

    color-scheme: light dark;
}

body {
    font-family: swansea, Helvetica, sans-serif;
    /* background-color: lightblue; */
    background-color: light-dark(var(--light-background-color, lightblue), var(--dark-background-color, black));
    font-size: 12px;
}



header {
    border: 1px solid var(--my-header-color, lightblue);
    padding-bottom: 5dvh;
    padding-left: 2dvw;
    padding-right: 2dvw;
    background-color: var(--my-header-color, lightblue);
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    & a {
        position: relative; /* anchor becomes positioning context */
        display: inline-block;
        font-size: 1em;
        border-radius: 25px;
        padding: 0.5em 1em;
        color: white;
        text-decoration: none;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0%;
            background-color: green;
            z-index: -1;
            transition: height 0.4s ease;
            border-radius: 25px;
        }

        &:hover::before {
            height: 100%;
        }

        &:hover {
            color: blue;
        }
    }

}

nav.links {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-items: center;
    
}

nav.site-links {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-items: center; 
}

form {
    background-color: lightslategray;
}

form#feedback-form {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-items: center; 
}


@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }

    nav a {
        font-size: 1.5em;
    }

    section.about-me {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        justify-items: center;
        & aside {
            grid-column: 1 / 2;
        }
        & article {
            grid-column: 2 / 3;
        }
    }

    section.my-experience {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        & section#my-resume {
            grid-column: 1 / 2;
        }
        & section#my-skills {
            grid-column: 2 / 3;
        }
        & section#education {
            grid-column: 3 / 4;
        }
    }

    main#projects-page {
        section.project {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 4fr;
            justify-items: center;

            & h3 {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            & img {
                grid-column: 1 / 2;
                grid-row: 2 / 6;
            }

            & iframe {
                grid-column: 1 / 2;
                grid-row: 2 / 6;
            }

            & p:not(.special) {
                grid-column: 2 / 3;
                grid-row: 2 / 6;
            }

            & p.special {
                grid-column: 1 / 3;
                grid-row: 2 / 6;
            }
        }
    }
}


footer {
    background-color: bisque;
    border: 1px solid var(--light-background-color, bisque);
    padding-top: 0.75rem;
}

footer.form-foot {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
}



@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/Swansea-q3pd.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaBold-D0ox.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaItalic-AwqD.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaBoldItalic-p3Dv.ttf);
  font-weight: bold;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
    body {
        /* background-color: black; */
        color: white;
    }

    footer {
        background-color: lightseagreen;
        border-color: var(--dark-background-color, lightseagreen);
    }

}

@view-transition {
   navigation: auto;
}