:root {
    --my-header-color: rgb(106, 106, 255);
}

body {
    font-family: swansea, Helvetica, sans-serif;
    background-color: lightblue;
    font-size: 16px;
}



header {
    border: 1px solid var(--my-header-color, lightblue);
    padding-bottom: 0.75rem;
    background-color: var(--my-header-color, lightblue);
    position: sticky;
    top: 0;
}



@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }

    section.about-me {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        justify-items: center;
        & aside {
            grid-column: 1 / 2;
        }
        & article {
            grid-column: 2 / 3;
        }
    }

    section.my-experience {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        & section#my-resume {
            grid-column: 1 / 2;
        }
        & section#my-skills {
            grid-column: 2 / 3;
        }
        & section#education {
            grid-column: 3 / 4;
        }
    }

    main#projects-page {
        section.project {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 7fr;
            justify-items: center;

            & h3 {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            & img {
                grid-column: 1 / 2;
                grid-row: 2 / 9;
            }

            & iframe {
                grid-column: 1 / 2;
                grid-row: 2 / 9;
            }

            & p:not(.special) {
                grid-column: 2 / 3;
                grid-row: 2 / 9;
            }

            & p.special {
                grid-column: 1 / 3;
                grid-row: 2 / 9;
            }
        }
    }
}


footer {
    border: 1px solid black;
    padding-top: 0.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
}

nav.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-items: center;
    & a {
        font-size: 1.5em;
        /* border: 1px solid chocolate; */
        border-radius: 25px;
        padding: 0.5em;
        color: white;
        /* background-color: chocolate; */
        transition: background-color 0.3s ease;
    }

    & a:hover {
        /* box-shadow: 10% 10% 5% slategray; */
        background-color: green;
        border-color: green;
        color: blue;
    }
}
nav.site-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-items: center; 

    & a {
        font-size: 1.5em;
    };
}

form {
    background-color: lightslategray;
}

form[id="feedback-form"] {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-items: center; 
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/Swansea-q3pd.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaBold-D0ox.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaItalic-AwqD.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: swansea;
  src: url(../assets/swansea-font/SwanseaBoldItalic-p3Dv.ttf);
  font-weight: bold;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    nav.links a:hover {
        background-color: green;
        border-color: green;
        color: blue;
    }
}

@view-transition {
   navigation: auto;
}